@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

.hero {
  padding: 100px 0;
  background-color: #23424A;
  color: #FFF;
  display: flex;
}



.hero p {
  margin-left: 3em;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #23424A;
  font-weight: 900;
  background: #38CFD9;
  padding: .75em 2em;
  border-radius: 100px;
}
.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  border: 1px solid lime
}
.btn:hover,
.btn:focus {
  opacity: .75;
}

.row {
  display: flex;
  justify-content: space-between;
}

.hero__img {
  align-self: center;
  /* height: 200px; */
  width: 60%;
  /* margin-left: 10%; */
}
.hero__text {
  width: 30%;
  /* background-color: brown; */
}